[Unit]
Description=rclone mount service
After=network.target network-online.target

[Service]
Type=simple
MemoryAccounting=true
MemoryHigh=1024M
MemoryMax=2048M
Environment=RCLONE_CONFIG=/etc/rclone/rclone.conf
ExecStart=/usr/bin/rclone mount gcrypt: /gdrive \
  --read-only \
  --allow-other \
  --buffer-size=512M \
  --dir-cache-time=120m \
  --fast-list \
  --vfs-read-chunk-size=128M \
  --vfs-read-chunk-size-limit=off \
  --umask=002 \
  --cache-dir=/data/rclone/.cache \
  --cache-db-path=/data/rclone/.cache \
  --cache-chunk-path=/data/rclone/.cache \
  --cache-chunk-size=16M \
  --cache-info-age=168h \
  --cache-workers=8 \
  --cache-chunk-total-size=16G \
  --attr-timeout=1s \
  --log-level=INFO \
  --log-file=/var/log/rclone/gdrive-mount.log
ExecStop=/bin/fusermount -uz /gdrive
Restart=on-failure

[Install]
WantedBy=multi-user.target
