[Unit]
Description=rclone mount service
After=network.target network-online.target

[Service]
Type=simple
MemoryAccounting=true
MemoryHigh=256M
Environment=RCLONE_CONFIG=/etc/rclone/rclone.conf
ExecStart=/usr/bin/rclone mount gcrypt: /gdrive \
  --allow-other \
  --buffer-size=0M \
  --dir-cache-time=2h \
  --timeout=1h \
  --vfs-read-chunk-size=128M \
  --vfs-read-chunk-size-limit=off \
  --umask=002 \
  --cache-dir=/data/rclone/.cache \
  --cache-db-path=/data/rclone/.cache \
  --cache-chunk-path=/data/rclone/.cache \
  --cache-chunk-size=16M \
  --cache-chunk-total-size=16G \
  --cache-info-age=24h \
  --cache-workers=4 \
  --attr-timeout=1s \
  --log-level=INFO \
  --log-file=/var/log/rclone/gdrive-mount.log
ExecStop=/bin/fusermount -uz /gdrive
Restart=on-failure

[Install]
WantedBy=multi-user.target
