[Unit]
Description=Ombi
After=network-online.target

[Service]
User=ombi
Group=nobody
WorkingDirectory=/opt/Ombi/
ExecStart=/opt/Ombi/Ombi --host "http://127.0.0.1:5000"
Type=simple
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
